.articulo {
    width: 300px;
    height: 480px;
    margin: 2em auto;
    border-radius: 20px;
    background: linear-gradient(225deg, #fbfbfb, #d4d4d4);
    box-shadow: -6px 6px 12px #acacac,
        6px -6px 12px #ffffff;

}

.articulo1 {
    background-image: url(../img/girl.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-size: auto;
    min-width: 270px;
}

.articulo2 {
    background-image: url(../img/chair.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-size: auto;
    min-width: 270px;
}

.articulo3 {
    background-image: url(../img/umbrella.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-size: auto;
    min-width: 270px;
}

.articulo .enlace {
    height: 100%;
    display: block;
    text-decoration: none;
    cursor: pointer;
    color: var(--texto);
}

.articulo .enlace:hover {
    background-color: rgba(255, 255, 255, .4);
    transition-property: background-color;
    transition-duration: 500ms;
    transition-timing-function: ease;
    transition-delay: 100ms;

}

.articulo .contenedor {
    height: 100%;
    padding: .5em;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.articulo .contenedor .fila {
    background-color: rgba(0, 0, 0, .8);
    padding: 1em;
    border-radius: 20px;
}

.titulo {
    color: var(--texto-blanco);
    font-size: 1.2rem;
}

.sub {
    color: var(--texto-blanco);
    font-size: 1rem;
}

.texto {
    color: var(--texto-blanco);
    font-size: .8rem;
}

@media only screen and (min-width: 900px) {
    .main-container {
        padding: .5em 5em;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        gap: 3em;
    }

    .articulo {
        gap: 1em;
    }
}